* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --product-white: #ffffff;
  --product-black: #000000;
  --product-dark-grey: #33292a;
  --product-light-brown: #644b4f;
  --product-dark-brown: #333333;
  --productlight-grey: #f2f2f2;
  --product-pink: #ff1493;
  --product-grey: #808080;
  --product-green: #008000;
  --product-red: #ff0000;
}

/* Button */

body {
  transition: background-color 0.3s, color 0.3s;
}

.button {
  margin: 0 auto;
  width: 70%;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.heading-brand {
  width: 70%;
  margin: 0 auto;
}

.co body.light-mode {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}

#toggleButton {
  margin: 20px 0;
  margin-left: 85%;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--product-pink);
}

.button-container {
  width: 70%;
  margin: 0 auto;
}

/* Responsive menu  */

nav {
  background-color: var(--product-pink);
  height: 45px;
}

.navigation-wrapper {
  color: var(--product-white);
  width: 70%;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

nav li {
  padding: 10px;
}

.hamburger {
  height: 40px;
}

.icon img {
  height: 69 px;
}

.icon {
  display: none;
}

.icon-business img {
  color: #f2f2f2;
  padding: 10px;
  height: 2.5rem;
  width: 2.5rem;
}

@media (max-width: 768px) {
  nav .icon {
    display: flex;
    justify-content: flex-end;
  }
  nav ul {
    display: none;
  }
}

/* First section  */

.first-section {
  position: relative;
}

.hero-text {
  font-size: 2rem;
  left: 60px;
  top: 60px;
}

.first-wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  padding: 140px 0 140px 0;
}

.image-wrapper {
  width: calc(100% / 3 - 15px);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--productlight-grey);
  border-radius: 5px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .image-wrapper {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .image-wrapper {
    width: calc(100% / 2 - 15px);
  }
}

@media (min-width: 1200px) {
  .image-wrapper {
    width: calc(100% / 3 - 15px);
  }
}

.first-wrapper img {
  width: 100%;

  border-radius: 5px;
}

.heading-our-first {
  background-color: var(--productlight-grey);
}

img {
  transition: 1s;
}

/* Form */

input {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
}

.notifPass,
.notifEmail {
  text-align: center;
  display: none;
  color: var(--product-pink);
  margin-top: 10px;
  align-items: center;
}

.password,
.email {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #808080;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  outline: none;
  color: var(--product-pink);
  text-align: center;
}

form button {
  background-color: var(--product-pink);
  color: var(--product-white);
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
}

.valid {
  color: var(--product-green);
}

.invalid {
  color: var(--product-red);
}

.password1 {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--product-grey);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  outline: none;
  color: var(--product-pink);
  text-align: center;
}

.password2 {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--product-grey);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  outline: none;
  color: var(--product-pink);
  text-align: center;
}

/* Scroll to Top button */
#scrollTopBtn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99; /* Make sure it does not overlap */
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: var(--product-white);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scrollTopBtn:hover {
  background-color: var(--product-dark-brown);
}

#scrollTopBtn i {
  font-size: 24px; /* Adjust size of the arrow icon */
}

/* Contact section */

.contact-section {
  background-color: var(--product-dark-grey);
  padding-top: 15px;
}

.contact-wrapper {
  width: 70%;
  margin: 0 auto;
}

.contact-btn {
  display: block;
  margin: auto;
  padding: 0 5px 0 5px;
  font-size: 8px;
}

.contact-text {
  color: var(--product-white);
  font-size: 0.5rem;
  text-align: center;
  padding: 10px 0 10px 0;
}
